.point:hover .hoverCircle {
  transform: scale(2);
}

.hoverCircle {
  stroke-width: 1px;
  transform-box: fill-box;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.25s ease-out;
}

@keyframes hover {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(2);
  }
}
