.tooltip {
  position: absolute;
  z-index: 1;
  visibility: hidden;
}

.xCenter {
  transform: translateX(-50%);
}

.yCenter {
  transform: translateY(-50%);
}

.content {
  position: relative;
  padding: var(--spacing_extraSmall);
  background-color: var(--color_pallette_bottom_extraLowContrast);
  color: var(--color_pallette_top_extraHighContrast);
  font-size: var(--font_size_extraSmall);
  white-space: pre-wrap;
  border-radius: 2px;
  box-shadow: var(--box_shadow_small);
}
