.tooltip {
  position: absolute;
  z-index: 1;
  visibility: hidden;
}

.xCenter {
  transform: translateX(-50%);
}

.yCenter {
  transform: translateY(-50%);
}

.content {
  position: relative;
  padding: 0.25rem;
  background-color: darkgray;
  color: white;
  font-size: 0.75rem;
  white-space: pre-wrap;
  border-radius: 2px;
}
