.lines {
  stroke: var(--color_pallette_top_lowContrast);
  stroke-width: 1;
}

.xAxisLabel {
  fill: var(--color_pallette_top_extraLowContrast);
  font-size: var(--font_size_extraExtraSmall);
  text-anchor: middle;
  dominant-baseline: middle;
}

.yAxisLabel {
  fill: var(--color_pallette_top_extraLowContrast);
  font-size: var(--font_size_extraExtraSmall);
  text-anchor: end;
  dominant-baseline: middle;
}
